<div class="landing-container">
    <h3>Welcome to ASPIRE Islamic E-learning Platform</h3><br>
    <p class="tagline">Transform Your Faith, One Lesson at a Time.</p>
    <p class="description">
        Join us in exploring the beauty of Islamic teachings through guided courses and engaging webinars.
        Develop skills, deepen your understanding, and connect with your faith.
    </p>
    <button mat-raised-button color="primary" (click)="navigateToSignup()">Click here to get started</button>
</div>