<h2 class="lesson-title">{{ lesson?.title }}</h2>

<div *ngIf="lesson" class="lesson-container">
    <ng-container *ngIf="sanitizedTextContent">
        <div class="content-box text-box">
            <div class="lesson-text" [innerHTML]="sanitizedTextContent"></div>
        </div>
    </ng-container>
</div>

<div class="lesson-navigation">
    <button mat-raised-button (click)="goBack()">Back</button>

    <button mat-raised-button color="primary" *ngIf="prevLesson?.id" (click)="navigateToLesson(prevLesson!.id!)">
        Previous Lesson
    </button>

    <button mat-raised-button color="primary" *ngIf="!isLastLesson" (click)="navigateToLesson(nextLesson!.id!)">
        Next Lesson
    </button>

    <!-- Complete Course Button -->
    <button mat-raised-button color="accent" *ngIf="isLastLesson" (click)="completeCourse()">
        Complete Course
    </button>
</div>