<mat-toolbar color="primary">
  <span>E-Learning App</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/about">About Us</a>

    <ng-container *ngIf="isAuthenticated(); else guestLinks">
      <a mat-button routerLink="/courses">Courses</a>

      <a *ngIf="isAdmin()" mat-button routerLink="/enrollments">Enrollments</a>
      <a *ngIf="isAdmin()" mat-button routerLink="/users">Users</a>
      <a mat-button (click)="logout()">Logout</a>
    </ng-container>
  </nav>

  <ng-template #guestLinks>
    <a mat-button routerLink="/login">Login</a>
    <!-- <a mat-button routerLink="/signup">Sign Up</a> -->
  </ng-template>

  <ng-template #noCourses>
    <a mat-button>No courses available</a>
  </ng-template>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>